ul {
  list-style: none;
}

.product-list-container, .add-product-container {
  margin-top: 50px;

  .title-row {
    border-bottom: 1px solid black;
  }

  .product-row {
    margin-top: 20px;
    .no-entries-found {
      text-align: center;
      font-size: 19px;
      color: #DC3545;
      font-weight: bold;
    }
  }

  .single-product-box {
    border: 1px solid black;
    height: 260px;
    font-size: 19px;
    padding: 5px;
    margin-top: 10px;

    .single-product-info {
      padding: 0;
      text-align: center;

      li {
        margin-top: 20px;
      }
    }
  }
}

.add-product-container {
  label {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .product-list-container, .add-product-container {
    .title-row {
      .responsive-col {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  .product-list-container, .add-product-container {
    .product-row {
      .single-product-box {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}